---
layout: default
title: El Mouse
---
<div class="blurb">
	<h1>Mouse: ¿Podrá pasar el filtro de los principios éticos?</h1>
	<p>Douglas Engelbart fue el inventor del mouse. Ideó uno de los dispositivos más influyentes de la popular 
		computación personal: usada por cientos de millones de personas alrededor del globo (Sametband, 2002).
		
. <a href="/about">https://www.lanacion.com.ar/437795-el-hombre-que-invento-el-mouse.</a> 
	</p>
	

	
	<p> Autonomía:
Intencionalidad: 
Conocimiento
Ausencia de constricciòn
Equidad/Justicia
Titularidad
Mérito: 
Según fuentes como (Sametband, 2002) el inventor Engelbart no ganò demasiado dinero por su inversiòn ya que la patenTe quedò en el Stanford Research Institute donde este trabajaba. Y más tarde Apple licenció poi US$40.000 y le fue enviado US$10.000.
Si nos basamos en el principio ético de la equidad, queda claro que en la historia de la innovaciòn tecnològica no hubo equidad al mérito. Dado que el inventor no recibió las recompensas de su trabajo. Asimismo la distribución,que para este caso sería una recompensa económica a su debido tiempo no ha sido justo para uno de los inventores.
Distribución
Costo/Beneficio
Beneficencia positiva: La invención del mouse era desarrollado a par con un NLS(oN-Line System), computadora aplicada con videoconferencias, uso de hipervínculos, contenidos multimedia, la interfaz de ventanas.
Es posible afirmar que este dispositivo es un componente primordial en la informática actual (Sametband, 2002). Respecto de lo beneficioso del mouse se puede afirmar que cumple con el principio ètico de ser beneficioso y ùtil.
Utilidad
 Beneficencia positiva: Nombrar y describir muchas acciones, hace referencia a la acción que quiere ejecutar, facilita la interfaz gráfica o entorno gráfico del ordenador.
Utilidad: Clickear o hacer click, arrastrar o deslizar el mouse, double click.




llamará mucho la atención el sistema de pesos distribuidos en distintas zonas del ratón, y que podremos elegir cuáles colocar para así poner el centro de gravedad en un lugar u otro. Algo curioso e innovador, si bien he de reconocer que nunca fui muy amigo de los ratones con pesas.

https://www.logitechg.com/es-mx/product/g502-proteus-spectrum-rgb-gaming-mouse
“un Claro ejemplo de la innovación tecnológica, se evidencia desde el primer mouse simple que fue creado por Douglas Engelbart hasta el mouse G502 PROTEUS SPECTRUM”



Sustentabilidad:
Si bien este complemento de una computadora no es de fácil de desechar, en la actualidad existe una ingente cantidad de estos entre los desperdicios sólidos de aparatos electrónicos.Entre los materiales usados en la mayoría de estos para su fabricación tenemos a 2 principales. 
Un polímero (ABS): encontrado en el protector de la lente de este aparato (Casanova et al, 2017).



Figura 1: ABS encontrado en en mouse


Los polímeros son un tipo de plástico derivado del petróleo (Chang et al., 2016). Actualmente la industria petrolera es sindicada como una de las que más impacto ha causado en la naturaleza desde derrames en el suelo hasta aguas de ríos y mares. Pasando por impactos  al aire por la refinería. Hasta la pobre educación del manejo de los residuos plásticos y daño al ecosistema marino al ser ingerido por animales habitantes de ese medio. 


El cobre usado en la base de la placa base del mouse. El cobre es uno de los materiales más comunes encontrados en los circuitos eléctricos.Entre todos los posibles metales (conductores), el cobre es el más barato de ellos y es más común (Casanova et al., 2017).

Figura 2: Cobre hallado en los circuitos de un mouse

La minería es la actividad que se realiza para la extracción y proceso para la producción de cobre y otros(Gestión, 2016). Es amplio  y muy conocido el impacto que la minería causa a los medios donde se lleva a cabo. Uno de los tantos ejemplos es el caso de cerro de Pasco. Donde es sabido que la explotación por el paso de los años a permitido el vertimiento de miles de litros de agua junto a químicos dañinos como el cadmio o cianuro. Este impacto se muestra a nivel de la cuenca con daños irreparables como la desaparición o extinción de especies como la rana de Junín ( Red Muqui, 2017).
En el caso de ambos materiales es claro que las actividades de generación son de considerable impacto a recursos del planeta. Si bien se está llevando a cabo planes para la mitigación de los mismo hasta la fecha no se ha llegado a resultados que muestren que se tenga la recuperación completa de los medios afectados. Por lo tanto tenemos un aparato que para ser construido posee una huella clara de agotamiento de recursos en la tierra.

 



Precauciòn:
Anticipación: No es conocido el caso a nivel mundial de empresas encargadas de el tratamiento de residuos sólidos tecnológicos. Es así que es fácil notar que no se tiene en cuenta el impacto que estos generan en la tierra. Fuentes como el mar o el suelo son contaminados por estos desechos.
Responsabilidad: existe conocimiento sobre los graves problemas a nivel mundial sobre los residuos sólidos, el daño generado al medio ambiente. Pero ninguna empresa de fabricaciòn de aparatos tecnológicos ha desarrollado un plan para la mitigación de este problema global.
	</p>
</div><!-- /.blurb -->
